<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogPath" value="E:\WJ\Projects\MyTools\CommonMonitor\CommonMonitor\bin\Debug\Log"/>
    <add key="ConfigFile" value="E:\WJ\Projects\MyTools\CommonMonitor\CommonMonitor\bin\Debug\Monitors.xml"/>
    <add key="MailServer" value="smtp.exmail.qq.com"/>
    <add key="MailServerPort" value="25"/>
    <add key="MailSendAccount" value="weijie@eeka.cn"/>
    <add key="MailSendAccountPWD" value=""/>
  </appSettings>
</configuration>